/* -- SETUP -- */

        * {
        	margin: 0;
        	padding: 0;
        	position: relative;
        	-webkit-box-sizing: border-box;
        	   -moz-box-sizing: border-box;
        	        box-sizing: border-box;
        }

        body { 
          color: #333;
          font-family: 'Merriweather', serif;
          font-size: 16px;
          line-height: 24px; }

/* -- GENERAL TYPOGRAPHY -- */

        a  { color: #f05a28; }

        h1,h2,h3,h4,h5,h6 { font-family: Lato, sans-serif; font-weight: 800; color: #222; margin: 28px 0 20px 0; }

        h1      { font-size: 40px; line-height: 40px; }
        h2      { font-size: 32px; line-height: 32px; }
        h3      { font-size: 24px; line-height: 24px; }
        h4      { font-size: 21px; line-height: 21px; }
        h5      { font-size: 18px; line-height: 18px; }
        h6      { font-size: 18px; line-height: 18px; }

        p         { margin: 20px 0 20px 0; }
        ul,ol     { margin: 28px 0 24px 28px; }
        
        pre,code  { font-size: 15px; line-height: 20px; }
        pre       { overflow: auto; }
        
        table     { border-collapse: collapse; table-layout:fixed; width:100%; }
        td,th     { padding: 8px 9px 7px; font-size: 14px; line-height: 17px; border: 1px solid #aaa; text-align: left; }
        th        { background: #eee; }
        td        { font-size: 13px; }

/* -- LAYOUT -- */

        /* A section is a horiztonal band/stripe/row on the page. 
           Defaults to the <body> bg color but can have its own color. */
        .section        { padding: 20px; }
        
        /* If the page is at least 768px, center the content at that width. 
           Otherwise it will be 100% wide. */
        @media (min-width: 768px) { 
          .content { width: 768px; margin: 0 auto; } 
        }

        /* If you want full width content no matter what, 
           add class '.content-full' to any 'div.content' */
        .content-full   { margin: 0; width: 100%; }