
.absolute-center {
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  display: table;
}

/* Scrollable overflowing tables, via http://www.maxdesign.com.au/2013/03/22/simple-responsive-table/ */

        /* Makes the table scrollable, if overflows */
        .table_wrapper {
        	width: 100%;
        	overflow-y: auto;
        	_overflow: auto;
        	margin: 0 0 1em; 
          padding: 1em; }
        
        /* These next two lines add the scrollbar before you scroll (if overflow is present) */
        .table_wrapper::-webkit-scrollbar {
        	-webkit-appearance: none;
        	width: 14px;
        	height: 14px; }

        .table_wrapper::-webkit-scrollbar-thumb {
        	border-radius: 8px;
        	border: 3px solid #fff;
        	background-color: rgba(0, 0, 0, .3); }

table {
  border-collapse: collapse; 
}

td {
  padding: 0;
}

.cell { 
  height: 1.5em;
}

.fret--hasNote {
  width: 3em;
  border-bottom: 1px solid #aaa;
}

.fret--open {
  border-right: 3px double #aaa;
}

.fret--hasBG {
  background: #f4f4f4;
  border-right: 1px solid #aaa;
}

.fret--trailer {
  width: 1em;
  border-bottom: 1px solid #aaa;
  border-right: none;
}

.string:first-child .fret {
  background: none;
  border-right: none;
  border-left: none;
}



.note { z-index: 1; height: 1.4em; width: 1.4em; background: orange; border-radius: .7em; position: absolute; top: .75em; left: 50%; margin-left: -0.7em; }





/* From Jxn */
.m0  { margin: 0; }
.mb0 { margin-bottom: 0; }

.m1  { margin: 1rem; }
.mt1 { margin-top: 1rem; }
.mr1 { margin-right: 1rem; }
.mb1 { margin-bottom: 1rem; }
.ml1 { margin-left: 1rem; }

.m2  { margin: 2rem; }
.mt2 { margin-top: 2rem; }
.mr2 { margin-right: 2rem; }
.mb2 { margin-bottom: 2rem; }
.ml2 { margin-left: 2rem; }

.m3  { margin: 3rem; }
.mt3 { margin-top: 3rem; }
.mr3 { margin-right: 3rem; }
.mb3 { margin-bottom: 3rem; }
.ml3 { margin-left: 3rem; }

.m4  { margin: 4rem; }
.mt4 { margin-top: 4rem; }
.mr4 { margin-right: 4rem; }
.mb4 { margin-bottom: 4rem; }
.ml4 { margin-left: 4rem; }


.measure { max-width: 60rem; }
.wrap { margin-left: auto; margin-right: auto; }