// Type

$font-default: 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
$font-monospace: 'Droid Sans Mono', monospace;

body {
  font-family: $font-default;
  font-weight: 400;
  line-height: 1.5rem;
}

// Base Type Scale

h1, h2, h3 { 
  margin: 0 0 0.375rem 0;
}

h1, .h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h2, .h2 {
  font-size: 1.875rem;
  line-height: 2.5rem;
}

h3, .h3 {
  font-size: 1.5rem;
  line-height: 2.0rem;
}

h4, .h4 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

p, .p, h5, .h5, h6, .h6, dl, ol, ul {
  font-size: 1rem;
  line-height: 1.5rem;
}

h6, .h6, small, .small {
  font-size: .875rem;
  line-height: 1.25rem;
}

pre,code { 
  font-family: $font-monospace;
  font-size: .75rem;
}
code {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background: rgba(0,0,0,0.0325);
}


// Utilities

strong, .bold { font-weight: bold; }
.regular { font-weight: normal; }
.italic { font-style: italic; }
.caps { text-transform: uppercase; letter-spacing: .1rem; }
.center { text-align: center; }
.right-align  { text-align: right; }

// Typographical Measure
// Use with the .wrap class to center container

.measure { max-width: 48rem; }
.measure-narrow { max-width: 32rem; }
.measure-wide { max-width: 64rem; }

// Leading Tweaks

.leading-1 { line-height: 1.5rem; }
.leading-2 { line-height: 2rem; }
.leading-3 { line-height: 3rem; }
.leading-4 { line-height: 4rem; }