// -----------------------------------------------------------------------------
// Type Scale
// -----------------------------------------------------------------------------

      /* See _variables.scss for scale details */

      body {
        font-family: $font-default;
        font-weight: $fw-normal;
        line-height: $lh-m;
        font-size: 100%;
      }

      .h0 {
        font-size: $fs-xxxl;
        line-height: $lh-xxxl;
      }

      h1, .h1 {
        font-size: $fs-xxl;
        line-height: $lh-xxl;
      }

      h2, .h2 {
        font-size: $fs-xl;
        line-height: $lh-xl;
      }

      h3, .h3 {
        font-size: $fs-l;
        line-height: $lh-l;
      }

      p, .p, dl, ol, ul, h4, .h4, h5, .h5, h6, .h6 {
        font-size: $fs-m;
        line-height: $lh-m;
      }

      small, .small {
        font-size: $fs-s;
        line-height: $lh-s;
      }

      .smaller {
        font-size: $fs-xs;
        line-height: $lh-xs;
      }
      
      .smallest {
        font-size: $fs-xxs;
        line-height: $lh-xxs;
      }

// -----------------------------------------------------------------------------
// Typographic Styling
// -----------------------------------------------------------------------------

      // Typeface Specification & Overrides
      
          h1,h2,h3,h4 {
            font-weight: $fw-bold;
            margin-top: 1.375rem;
          }
          
          .font-default {
            font-family: $font-default;
          }
          
          .font-monospace {
            font-family: $font-monospace;
          }

      // Bold / Strong

          h1,h2,h3,h4,h5,h6,strong,.bold,dt,th { 
            color: darken($bodyCopy, 15%);
          }

      // "Weak" text (de-emphasized)

          .weak {
            color: lighten($bodyCopy, 25%);
          }

      // Monospace & Code Samples

          pre, code, samp, .mono {
            font-family: $font-monospace;
            font-size: $fs-s;
            border-radius: $border-radius;
            background-color: $gray-lighter;
          }
          
          code {
            padding: 2px 4px;
          }
          
          pre {
            padding: 1rem;
            overflow: auto;
          }

      // Horizontal Rule
          
          hr {
            border: 0;
            height: 0;
            border-top: 3px double $gray-lighter;
            margin-top: 2.75rem;
            margin-bottom: 2.5rem;
            width: 60%;
          }

      // Character Tweaks

          strong, .bold { font-weight: $fw-bold; }
          .regular { font-weight: $fw-normal; }
          .italic { font-style: italic; }
          .caps { text-transform: uppercase; letter-spacing: .25rem; }

      // Alignment Tweaks

          .center { text-align: center; }
          .align-right  { text-align: right; }

      // Line Height Tweaks

          .lh-xs { line-height: $lh-xs; }
          .lh-s { line-height: $lh-s; }
          .lh-m { line-height: $lh-m; }
          .lh-l { line-height: $lh-l; }
          .lh-xl { line-height: $lh-xl; }
          .lh-xxl { line-height: $lh-xxl; }
          .lh-xxxl { line-height: $lh-xxxl; }

      // Font Weight Tweaks
      
          .fw-black  { font-weight: $fw-black; }
          .fw-bold   { font-weight: $fw-bold; }
          .fw-normal { font-weight: $fw-normal; }